@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Global style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Azeret Mono", monospace;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
h2 {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33);
}
p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 0.7);
    line-height: 26px;
}
a {
    text-decoration: none;
    color: white;
}
.title-wrapper {
    width: 852px;
    margin: auto;
}
.p-dark-bg {
    color: rgb(255, 255, 255);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    padding: 21px 24px;
    font-size: 20px;
    cursor: pointer;
}
.btn-light {
    border-radius: 8px;
    color: rgba(13, 19, 33, 0.7);
    padding: 12px 20px;
    border: 1px solid rgba(13, 19, 33, 0.4);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* Global style End */

/* Nav section start */
nav {
    padding: 30px 0;
}
nav .nav-logo {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
nav .btn-resume {
    padding: 17px 24px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    color: rgba(13, 19, 33, 0.7);
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav section end */

/* Hero section */
.hero {
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    height: 652px;
}
.hero-container {
    max-width: 998px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    align-items: center;
}
/* Hero section end */

/* About web section start */
.about-content-wrapper {
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 80px;
    border-radius: 16px;
}
.feature {
    padding: 48px;
    display: flex;
    text-align: left;
    gap: 70px;
    background-color: white;
    border-radius: 16px;
}
.feature-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
}
.feature-content a {
    align-self: flex-start;
}
/* About web section end */

/* Inspiration section */
.inspiration-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-top: 80px;
    border-radius: 16px;
    align-items: center;
}
.inspiration-wrapper .video-wrapper {
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.inspiration-wrapper iframe {
    border-radius: 16px;
}
/* Inspiration section end */

/* Target section */
.target {
    margin-top: 120px;
}
.target-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-top: 80px;
    border-radius: 16px;
    align-items: center;
}
.target-boxes {
    display: flex;
    text-align: left;
    gap: 24px;
}
.target-boxes .box {
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 364px;
}
.box img {
    align-self: flex-start;
}
.target-boxes .box a {
    color: rgb(13, 19, 33);
    font-weight: 700;
    text-decoration: underline;
}
.box-one {
    background-color: rgba(255, 76, 30, 0.05);
}
.box-two {
    background-color: rgba(0, 76, 232, 0.05);
}
.box-three {
    background-color: rgba(255, 223, 0, 0.05);
}
/* Target section end */

/* Next target section */
.next-target {
    margin-top: 120px;
}
.next-target-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-top: 80px;
    border-radius: 16px;
    align-items: center;
}
.frameworks {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}
.framework-box {
    border: 1px solid rgba(13, 19, 33, 0.15);
    padding: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 16px;
}
.framework-box a {
    color: rgb(13, 19, 33);
    font-weight: 700;
    text-decoration: underline;
}
.framework-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* Next target section end */

/* Support section */
.support-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-top: 80px;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    padding: 48px 64px;
    border-radius: 16px;
}
.support p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}
.support h2 {
    color: white;
}
.support .form input {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
}
.support .form input[type="text"] {
    width: 548px;
    padding: 19px 20px;
}
.support .form input[type="submit"] {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    line-height: 1;
    color: rgba(13, 19, 33, 0.9);
    cursor: pointer;
}
/* Support section end */

/* Footer section */
#footer {
    padding: 32px 0;
    margin-top: 80px;
    background-color: rgba(13, 19, 33, 0.03);
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-wrapper p {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(13, 19, 33);
}
/* Footer section end */
